
.scrollable-list {
  height: 100vh;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
}

.list {
  list-style: none;
  padding-top: 100px;
  margin: 0;
  width: 100%; 
  padding-bottom: 30px;
}
.card {
  top:100px;
  height: 120px;
  display: flex;
  padding-top: 100px;
  flex-direction:column; 
  align-items: flex-start;
  padding: 16px;
  margin: 2px 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: calc(100% - 16px); 
}

.leading {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffebee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.leadingText {
  font-weight: bold;
  color: #4a148c;
}

.cardTitle {
  font-size: 14px; 
  font-weight: bold;
  color: #4a148c;
  margin-bottom: 4px; 
}

.cardTrailing {
  font-size:6px; 
  color: #4a148c;
}

@media (max-width: 768px) {
  .list {
      width: calc(100% - 20px); 
  }
  .scrollable-list {
      margin-right: 20px;
      width: calc(100% - 20px); 
  }
  .card {
      width: calc(100% - 16px); 
  }
}
