/* Ensure the list container takes up the full height and allows scrolling */
.scrollable-list {
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 10px; /* Add padding if needed */
    background-color: #fff; /* Optional: Set background color */
  }
  
  .list {
    list-style: none;
    padding-top: 30px;
    margin: 0;
    width: 303px;
    padding-bottom: 30px;
  }
  
  .card {
    display: flex;
    align-items: center;
    padding: 16px;
    margin: 4px 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .leading {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffebee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
  }
  
  .leadingText {
    font-weight: bold;
    color: #4a148c;
  }
  
  .cardTitle,.cardTrailing {
    font-size: 15px;
    font-weight: bold;
    color: #4a148c;
    text-align: left;
  }
  
  .cardTrailing {
    margin-left: auto;
  }
  
  @media (max-width: 768px) {
    .list {
      width: 345px;
      
    }
    .scrollable-list {
      
    margin-right:20px; 
      width: 388px;
    }
    .card {
      width:345px;
    }
  
  }