/* src/App.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #FDF3E6;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: Arial, sans-serif;
  /* overflow: hidden; */
}

/* .wrapper {
  padding-top: 60px;
  margin: 10px;
  height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center; 
background-color: blue;

}
*/

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 70px 20px 20px 20px;
  background-color: red;
}

.content {
  text-align: center;
  height: 100%;
  background-color: orange;
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 70px;
  }
}