/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #FDF3E6;
}

.main-content {
  padding-top: 70px;
  margin: 10px;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 70px;
  }
}
